In [60]:
import os
path = r'C:\Users\nadda\Desktop\KU\01204314-65-Statistics-for-Computer-Engineering-Applications\week10'
data_path = os.path.join(path, "data")
infra_path = os.path.join(data_path, r"timeseries\infrastructure")
econ_path = os.path.join(data_path, r"timeseries\econ")
pop_path = os.path.join(data_path, r"timeseries\population")
os.chdir(path)
os.getcwd()

'C:\\Users\\nadda\\Desktop\\KU\\01204314-65-Statistics-for-Computer-Engineering-Applications\\week10'

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import seaborn as sns
from pandas.plotting import scatter_matrix

In [62]:
df_regions = pd.read_excel(os.path.join(data_path, "countries_regions.xlsx"))
df_regions.reset_index(inplace=True)
df_regions.rename(columns={"CountryName": "Country"}, inplace=True)

# โหลดข้อมูลเศรษฐกิจ (Economics)
df_inflation = pd.read_csv(os.path.join(econ_path, "FP.CPI.TOTL.ZG_ts.csv"))
df_debt = pd.read_csv(os.path.join(econ_path, "GC.DOD.TOTL.GD.ZS_ts.csv"))
df_tax = pd.read_csv(os.path.join(econ_path, "GC.TAX.TOTL.GD.ZS_ts.csv"))
df_expense = pd.read_csv(os.path.join(econ_path, "GC.XPN.TOTL.GD.ZS_ts.csv"))
df_gdp = pd.read_csv(os.path.join(econ_path, "NY.GDP.MKTP.CD_ts.csv"))

# โหลดข้อมูลโครงสร้างพื้นฐาน (Infrastructure)
df_electricity = pd.read_csv(os.path.join(infra_path, "EG.ELC.ACCS.ZS_ts.csv"))
df_internet = pd.read_csv(os.path.join(infra_path, "IT.NET.BBND.P2_ts.csv"))
df_hospital = pd.read_csv(os.path.join(infra_path, "SH.MED.BEDS.ZS_ts.csv"))

# โหลดข้อมูลประชากร (Population)
df_life_expectancy = pd.read_csv(os.path.join(pop_path, "SP.DYN.LE00.IN_ts.csv"))
df_pop_65_up = pd.read_csv(os.path.join(pop_path, "SP.POP.65UP.TO.ZS_ts.csv"))
df_pop_working_age = pd.read_csv(os.path.join(pop_path, "SP.POP.1564.TO.ZS_ts.csv"))
df_total_population = pd.read_csv(os.path.join(pop_path, "SP.POP.TOTL_ts.csv"))

In [63]:
def wide_to_long_format(df, valuename):
    return df.melt(id_vars=["Year"], var_name="Country", value_name=valuename)

def merge_with_regions(df):
    return df.merge(df_regions, on="Country", how="left")

def rolling_avg(df,valuename):
    df = wide_to_long_format(df, valuename)
    df = merge_with_regions(df)
    df = df.groupby(["Region", "Year"])[valuename].mean().reset_index()
    df["Rolling_Avg"] = df.groupby("Region")[valuename].transform(lambda x: x.rolling(5, min_periods=1).mean())
    return df

In [64]:
df_hospital.isnull()

,Year,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,"Venezuela, RB",Viet Nam,Virgin Islands (U.S.),West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe
0,False,False,False,False,True,False,True,False,True,False,...,True,False,False,False,False,True,True,False,True,True
1,False,False,False,False,True,False,True,False,True,False,...,True,False,True,True,False,True,True,False,True,True
2,False,False,False,False,True,False,True,False,True,False,...,False,False,False,False,False,True,True,False,True,True
3,False,False,False,False,True,False,True,False,True,False,...,True,False,True,True,False,True,True,False,False,True
4,False,False,False,True,True,False,False,False,False,False,...,False,False,False,True,False,True,True,False,True,True
5,False,False,False,False,True,False,True,False,True,False,...,False,False,True,True,False,True,True,False,True,False
6,False,False,False,True,True,False,True,False,True,False,...,False,False,True,False,False,True,True,False,True,True
7,False,False,False,False,True,False,True,False,True,False,...,False,False,False,True,False,True,True,False,False,True
8,False,False,False,False,True,False,True,False,True,False,...,False,False,True,False,False,True,True,False,True,False
9,False,False,False,False,True,True,True,False,False,False,...,False,False,True,True,False,True,True,False,False,False
10,False,False,False,False,True,True,True,False,False,False,...,False,False,True,False,False,True,True,False,True,False
11,False,False,False,False,True,True,True,True,False,False,...,False,False,True,True,False,True,True,False,True,False
12,False,False,False,False,True,True,True,False,False,False,...,False,False,True,True,False,True,True,False,True,True
13,False,False,False,False,True,True,True,False,False,False,...,False,False,True,False,False,True,True,False,True,False
14,False,False,False,False,True,True,True,False,False,False,...,False,False,True,False,False,True,True,False,True,True
15,False,False,False,False,True,True,True,False,False,False,...,False,False,True,False,False,True,True,False,True,True
16,False,False,False,False,True,True,True,False,False,False,...,False,False,True,False,False,True,True,False,True,True
17,False,False,False,True,True,True,True,True,False,False,...,False,False,True,False,True,True,True,True,True,True
18,False,False,False,True,True,True,False,True,False,False,...,False,False,True,False,True,True,True,True,True,True
19,False,False,False,True,True,True,True,False,False,False,...,False,False,True,False,True,True,True,True,True,True

In [65]:
'''df_inflation = 
df_debt = 
df_tax = 
df_expense = 
df_gdp = 

df_electricity = 
df_internet = 
df_hospital = 

df_life_expectancy = 
df_pop_65_up = 
df_pop_working_age = 
df_total_population = 
'''
'''
df_inflation = (df_inflation,"Inflation")
df_debt = (df_debt,"Debt")
df_tax = (df_tax,"Tax")
df_expense = (df_expense,"Expense")
df_gdp = (df_gdp,"GDP")

df_electricity = (df_electricity,"Electricity_Access")
df_internet = (df_internet,"Broadband_Subscriptions")
df_hospital = (df_hospital,"Hospital_Beds")

df_life_expectancy = (df_life_expectancy,"Life_Expectancy")
df_pop_65_up = (df_pop_65_up,"Elderly_Pop")
df_pop_working_age = (df_pop_working_age,"Working_Age_Pop")
df_total_population = (df_total_population,"Total_Pop")
'''
'''
(df_inflation,"Inflation")
(df_debt,"Debt")
(df_tax,"Tax")
(df_expense,"Expense")
(df_gdp,"GDP")

(df_electricity,"Electricity_Access")
(df_internet,"Broadband_Subscriptions")
(df_hospital,"Hospital_Beds")

(df_life_expectancy,"Life_Expectancy")
(df_pop_65_up,"Elderly_Pop")
(df_pop_working_age,"Working_Age_Pop")
(df_total_population,"Total_Pop")
'''

'\n(df_inflation,"Inflation")\n(df_debt,"Debt")\n(df_tax,"Tax")\n(df_expense,"Expense")\n(df_gdp,"GDP")\n\n(df_electricity,"Electricity_Access")\n(df_internet,"Broadband_Subscriptions")\n(df_hospital,"Hospital_Beds")\n\n(df_life_expectancy,"Life_Expectancy")\n(df_pop_65_up,"Elderly_Pop")\n(df_pop_working_age,"Working_Age_Pop")\n(df_total_population,"Total_Pop")\n'

In [66]:
df_inflation = rolling_avg(df_inflation,"Inflation")
df_debt = rolling_avg(df_debt,"Debt")
df_tax = rolling_avg(df_tax,"Tax")
df_expense = rolling_avg(df_expense,"Expense")
df_gdp = rolling_avg(df_gdp,"GDP")

df_electricity = rolling_avg(df_electricity,"Electricity_Access")
df_internet = rolling_avg(df_internet,"Broadband_Subscriptions")
df_hospital = rolling_avg(df_hospital,"Hospital_Beds")

df_life_expectancy = rolling_avg(df_life_expectancy,"Life_Expectancy")
df_pop_65_up = rolling_avg(df_pop_65_up,"Elderly_Pop")
df_pop_working_age = rolling_avg(df_pop_working_age,"Working_Age_Pop")
df_total_population = rolling_avg(df_total_population,"Total_Pop")

In [ ]:
def show_trend(df,Title):
    for region in df["Region"].dropna().unique():
        region_data = df[df["Region"] == region]
        plt.plot(region_data["Year"], region_data["Rolling_Avg"], label=region)
    plt.title("5-Year Rolling Average of Region's " + Title)
    plt.xlabel("Year")
    plt.ylabel(Title)
    plt.legend(fontsize=7, loc='best', ncol=2)

In [ ]:
#before remove outlier

plt.figure(figsize=(10, 5))

#show_trend(df_inflation,"Inflation, Consumer Prices (annual %)")
#show_trend(df_debt,"Total Central Government Debt (% of GDP)")
#show_trend(df_tax,"Tax Revenue (% of GDP)")
#show_trend(df_expense,"Expense (% of GDP)")
#show_trend(df_gdp,"GDP (current US$)")

show_trend(df_electricity,"Access to electricity (% of population)")
#show_trend(df_internet,"Fixed broadband subscriptions (per 100 people)")
#show_trend(df_hospital,"Hospital beds (per 1,000 people)")

#show_trend(df_life_expectancy,"Life expectancy at birth, total (years)")
#show_trend(df_pop_65_up,"Population ages 65 and above (% of total population)")
#show_trend(df_pop_working_age,"Population ages 15-64 (% of total population)")
#show_trend(df_total_population,"Total Population")

NameError: name 'plt' is not defined

In [69]:
df_hospital.head(20)

    Region  Year  Hospital_Beds  Rolling_Avg
0   Africa  2001       1.690000     1.690000
1   Africa  2002       1.784286     1.737143
2   Africa  2003       1.952667     1.808984
3   Africa  2004       1.759524     1.796619
4   Africa  2005       1.458462     1.728988
5   Africa  2006       1.638529     1.718693
6   Africa  2007       1.658889     1.693614
7   Africa  2008       1.526190     1.608319
8   Africa  2009       1.522917     1.560997
9   Africa  2010       1.571250     1.583555
10  Africa  2011       1.663214     1.588492
11  Africa  2012       1.464286     1.549571
12  Africa  2013       1.350417     1.514417
13  Africa  2014       1.324800     1.474793
14  Africa  2015       1.278750     1.416293
15  Africa  2016       1.338000     1.351250
16  Africa  2017       1.365000     1.331393
17  Africa  2018       1.396316     1.340573
18  Africa  2019       1.361905     1.347994
19  Africa  2020       1.394375     1.371119